{% extends "index.html" %}

{% block title %}ثبت نام کاربر{% endblock %}

{% block content %}
    <div class="card-body text-start col-md-6">
  <p>ثبت نام</p>
  <form action="" method="post" enctype="multipart/form-data">

    {% csrf_token %}
            {% for field in form %}
      <p class="mb-3 text-start">
      {{ field.errors }}
      {{ field }}

      </p>
      {% endfor %}
    {% if request.resolver_match.url_name == 'register' %}
    <p><input type="submit" class='btn btn-success form-control' value="ثبت نام"></p>
    {% elif request.resolver_match.url_name == 'edit' %}
    <p><input type="submit" class='btn btn-success form-control' value="ویرایش پروفایل"></p>
    {% endif %}
  </form>
    </div>
{% endblock %}