{% extends "index.html" %}

{% block title %}Login to your account{% endblock %}

{% block content %}
    <div class="card-body text-start col-md-6">
  <p>ثبت نام</p>
  <form action="" method="post" enctype="multipart/form-data">
      {% for field in form %}
      <p class="mb-3 text-start">
      {{ field.errors }}
      {{ field }}

      </p>
      {% endfor %}
    {% csrf_token %}
    <p><input type="submit" class='btn btn-success form-control' value="ثبت نام"></p>

  </form>
    </div>
{% endblock %}