{% if request.user.is_authenticated %}
<div class="card-body">
  <div class="d-flex flex-column align-items-center text-center">
    {% if profile.image %}
          <img src="{{ profile.image.url }}" alt="Admin" class="rounded-circle" width="150">
    {% endif %}
    <div class="mt-3">
      <h4>{{ user.profile.get_fullname }}</h4>
        <a href="{% url 'account:profile' %}"><button class="btn btn-info">مشاهده پروفایل</button></a>
        <a href="{% url 'account:logout' %}"><button class="btn btn-danger">خروج</button></a>
    </div>
  </div>
</div>
{% else %}
    <div class="card-body text-center">
        <a href="{% url 'account:login' %}"><button class="btn btn-info">ورود</button></a>
        <a href="{% url 'account:register' %}"><button class="btn btn-info">ثبت نام</button></a>
    </div>
{% endif %}