{% extends 'index.html' %}

{% block title %}Confirm Comments{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="text-center mb-4">مدیریت نظرات</h1>
                    <form action="{% url 'comment:activate_comments' %}" method="post">
                        {% csrf_token %}
                        <ul class="list-group">
                            {% for comment in inactive_comments %}
                                <li class="list-group-item">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="comments"
                                               value="{{ comment.id }}">
                                        <p>{{ comment.reserve_id.user.username }}</p>
                                        <label class="form-check-label">{{ comment.comment }}</label>
                                        <span class="badge bg-secondary">{{ comment.reserve_id.room.room_no }}</span>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% if inactive_comments %}
                        <button type="submit" class="btn btn-primary mt-3">Activate Selected Comments</button>
                    {% else %}
                    <p class="text-center">نظری تایید نشده ای وجود ندارد</p>
                    {% endif %}
                    </form>
            </div>
        </div>
    </div>
{% endblock %}
