{% extends 'index.html' %}
{% block title %}حذف نظر{% endblock title %}
{% block content %}
    <div class="container">
        <h1>حذف نظر</h1>
        <p class="lead">آیا از حذف این نظر اطمینان دارید؟</p>
        <form method="post">
            {% csrf_token %}
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-danger btn-lg">بله، حذف</button>
                <a href="{% url 'room:index' %}" class="btn btn-secondary btn-lg">خیر</a>
            </div>
        </form>
    </div>
{% endblock content %}