 <div style="margin-left: 15px;">
{% if not comment.is_active %}
    {% if user.is_authenticated and user == comment.user_id %}
        <li class="list-group-item border border-danger mb-3">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <strong>{{ comment.user_id.username}}</strong>
                    <p class="mb-1 small text-muted">{{ comment.created_date }}</p>
                    <p class="mb-1">{{ comment.comment }}</p>
                </div>
                <div>
                    <a href="{% url 'comment_delete' comment.id %}"
                       class="btn btn-danger btn-sm mr-2">Delete</a>
                    <a href="{% url 'comment_update' comment.id %}"
                       class="btn btn-primary btn-sm">Edit</a>
                </div>
            </div>
        </li>
    {% endif %}
{% elif comment.is_active %}
    <li class="list-group-item border border-success mb-3">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <strong>{{ comment.user_id.username }}</strong>
                <p class="mb-1 small text-muted">{{ comment.created_date }}</p>
                <p class="mb-1">{{ comment.comment }}</p>
            </div>
            {% if user.is_authenticated and user == comment.user_id %}
                <a href="{% url 'comment_delete' comment.id %}" class="btn btn-danger btn-sm">Delete</a>
            {% endif %}
            {% if user.is_authenticated %}
                    <a href="{% url 'comment_reply_with_parent' pk=comment.reserve_id.id parent_id=comment.id %}"
                       class="btn btn-primary btn-sm">Reply</a>
            {% endif %}
        </div>
    </li>
    {% if comment.replies.all %}
        <ul class="list-group ml-5">
            {% for reply in comment.replies.all %}
                {% include 'comment/comment_replies.html' with comment=reply %}
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
</div>
