{% extends "index.html" %}
{% block title %}سیستم رزرواسیون اتاق جلسات{% endblock title %}
{% block content %}
              <div class="row gutters-sm">
                {% for object in object_list %}
                <div class="col-sm-6 mb-3">
                  <div class="card h-100 text-start bg-secondary bg-gradient">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">اتاق شماره {{ object.room_no }}</h6>
                        {% if object.image %}
                        <p class="text-center"><img src="{{ object.image.url }}" width="350px" height="250px">
                        {% endif %}
                      <small>ظرفیت {{ object.capacity }} نفر</small>
                    <hr/>
                      <small> توضیحات:  {{ object.description }}</small>
                                  <hr/>
                        <small class="text-center"><a href="{% url 'room:room-detail' object.room_no %}" class="link-light" style="text-decoration: none">مشاهده اطلاعات اتاق</a> </small>


                    </div>
                  </div>
                </div>
              {% endfor %}

              </div>
{% endblock content %}