{% extends "index.html" %}
{% block title %}اتاق شماره {{ object.room_no }}{% endblock title %}
{% block content %}
    <div class="card-body text-start">
        <div class="row">
            <div class="col-sm-12 text-center">
                {% if room.image %}
                    <img src="{{ room.image.url }}" class="img-fluid rounded" alt="Room Image">
                {% endif %}
            </div>
            <div class="col-sm-3">
                <h6 class="mb-0">اتاق شماره {{ room.room_no }}</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                ظرفیت {{ room.capacity }} نفر
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <h6 class="mb-0">توضیحات</h6>
            </div>
            <div class="col-sm-9 text-secondary">
                {{ room.description }}
            </div>
        </div>
        <hr>
        <div class="row">
            {% for comment in comments %}
                {% include 'comment/comment_tree.html' with comment=comment %}
                {% empty %}
                <p>No comments yet.</p>
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            {% if can_comment %}
                <a href="{% url 'comment:comment_create' object.id %}" class="btn btn-primary">ارسال نظر</a>
            {% endif %}
        </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <a class="btn btn-info" href="{% url 'room:reservation_create' object.room_no %}">رزرو این اتاق</a>
            </div>
        </div>
    </div>
{% endblock content %}
